<h1><%= t ".headline", default: "Log In" %></h1>
<% provide(:title, t(:login, :default => "Log In") )%>

<%= simple_form_for(:session, url: sessions_path, :html => { :class => 'form-horizontal' }) do |f| %>
	  <%= f.input :email %>
	  <%= f.input :password %>
    <%= f.input :remember_me, :as => :boolean %>
	  <div class="form-actions">
      <%= f.submit t('login.submit_button', :default=> "Log In"), :class => 'btn btn-primary' %>
   
<% end %>

<p><% t('newuser', :default=> "Sign Up now") %> <%= link_to t('newuser'), sign_up_path %> 
 </div>
<!-- 
<%= form_tag sessions_path do %>
  <p>
    <%= label_tag :email %><br />
    <%= text_field_tag :email, params[:email] %>
  </p>
  <p>
    <%= label_tag :password %><br />
    <%= password_field_tag :password %>
  </p>
  <p class="button"><%= submit_tag  t('login.submit_button', :default=> "Log In")  %></p>
<% end %> -->
