<%= simple_form_for @translation, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Translation</legend>

    <%= f.association :source_lang %>
    <%= f.input :source_content %>
    <%= f.association :target_lang %>
    <%= f.input :target_content %>
    <%= f.association :domain,  :as => :check_boxes %>
<!--  	<%= f.input :owner, :as => :hidden %>
	<%= f.input :project, :as => :hidden %> -->

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', translations_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>