<h1>Translations</h1>

SORTABLE SEARCHABLE FORM NEEDED HERE!

TABLE NEEDS TO RESIZE TO CONTENT
de  source_content
en  target_content
domain created_at [owner_id] 
COLORED for isTerm
COLORED PUBLIC?

SOURCE- iterate over all sources for translation_id
if it looks like a link, put in a link tag

THIS TABLE IS FOR PUBLIC ACCESS TO TRANSLATIONS??

<table class="table table-striped">

  <tbody>
    <% @translations.each do |translation| %>
      <tr>
        <td><%= Language.find_by_id(translation.source_lang_id).iso_code if not translation.source_lang_id.nil? %>
        <%= link_to translation.source_content, user_project_translations_path(translation) %></td>
    
        <td><%= Language.find_by_id(translation.target_lang_id).iso_code if not translation.target_lang_id.nil? %>
        <%= link_to translation.target_content, user_project_translations_path(translation)  %></td>

        <td><%=  Domain.find_by_id(translation.domain_id).code if not translation.domain_id.nil? %>
        <%= translation.created_at %><br/>
        <!-- TODO: if source url is a url, show as a link-->
        <%= Source.find_by_id(translation.source_id).url if not translation.source_id.nil? %>
      </td>
        <td>
    
          <%= link_to 'Edit', edit_user_project_translation_path(current_user, @project, translation),  :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', user_project_translation_path(current_user, @project, translation), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>


        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New', new_user_project_translation_path, :class => 'btn btn-primary' %>



