<h1>Translation</h1>

<p>
  <b><%= Language.find_by_id(translation.source_lang_id).iso_code if not translation.source_lang_id.nil? %></b><br>
  <%= link_to translation.source_content, translation_path(translation) %>
</p>

<p>
  <b><%= Language.find_by_id(translation.target_lang_id).iso_code if not translation.target_lang_id.nil? %></b><br>
  <%= link_to translation.target_content, translation_path(translation) %>
</p>
   	<%= Domain.find_by_id(translation.domain_id).code if not translation.domain_id.nil? %> ||
   <%= Source.find_by_id(translation.source_id).url if not translation.source_id.nil? %> ||
   <%= translation.created_at %><br/>
</p>
<div class="form-actions">
          <%= link_to 'Edit', edit_translation_path(translation), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', translation_path(translation), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
</div>


