
<% provide(:title, @user.name) %>

<%= t :welcome, :default => "Welcome" %> <%= @user.name %>


<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>
<h2> My projects </h2>

<%= render @projects %>

<p><%= link_to "Create New Project", new_project_path %></p>