SHOW ALL DOMAINS HERE WITH LINKS

<table>
  <tr>
  	<th></th>
    <th>Code</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @domains.each do |domain| %>
  <tr>
  	<td><%= image_tag domain.image_url %></td>
    <td><%= domain.code %></td>
    <td><%= domain.name %></td>

    <td><%= link_to 'Show', domain %></td>
    <td><%= link_to 'Edit', edit_domain_path(domain) %></td>
    <td><%= link_to 'Destroy', domain, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>