

<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @project.name %>
        <%= @projectlang %>
      </h1>
    </section>
  </aside>
</div>
<div class="buttons">
	<%= link_to 'New Translation', new_user_project_translation_path(current_user, @project), :class => 'btn btn-primary' %>
	<%= link_to 'Batch Entry', '#', :class => 'btn btn-primary' %>
	<%= link_to 'Back to Project', user_project_path(current_user, @project), :class => 'btn btn-primary' %>
	<%= link_to 'Get More Translations', "#", :class => 'btn btn-primary' %>
</div>	



<h2> My Translations for this Project </h2>



<div id="searchtranslationbox">

<button id="search">Toggle Search Box</button>

<br/>

        <div id="searchbox">
        BELONGS IN A PARTIAL
        SEARCH BOX
        import_user_project_translations_path 
        </div>
</div>

<div id="translations">

    <%= render @translations %>

</div>

<div id="translationbatchentry">

<button id="batch">Toggle Translation Batch Entry</button>

<%= render :partial => 'translations/batch' %>


<script>
$("button#batch").click(function () {
$("#batchform").toggle("slow");
});

$("button#search").click(function () {
$("#searchbox").toggle("slow");
});

</script>

</div>


