

<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @project.name %>
        <%= @projectlang %>
      </h1>
    </section>
  </aside>
</div>
<div class="buttons">
	<%= link_to 'New Translation', new_user_project_translation_path(current_user, @project), :class => 'btn btn-primary' %>
	<%= link_to 'Batch Entry', '#', :class => 'btn btn-primary' %>
	<%= link_to 'Back to Project', user_project_path(current_user, @project), :class => 'btn btn-primary' %>
	<%= link_to 'Get More Translations', "#", :class => 'btn btn-primary' %>
  <%= link_to 'All Translations', "#", :class => 'btn btn-primary' %>
</div>	




<h2> My Translations for this Project </h2>

MAXIMUM 1000 then Create New Project

<table id="translations" class="table table-striped">
<thead>
  <tr>
<th>Source Language </th>
      <th>Target Language</th>
      <th>Domain</th>
      <th>Source</th>
      <th>Owner</th>
      <th>Created on?</th>
      <th>Public?</th>
      <th>Links</th>
    </tr>
</thead>
<tbody>
    <%= render @translations %> 
</tbody>
</table>




<br>

<div id="translationbatchentry">

<button id="batch">Toggle Translation Batch Entry</button>

<%= render :partial => 'translations/batch' %>


<script>
$("button#batch").click(function () {
$("#batchform").toggle("slow");
});

$("button#search").click(function () {
$("#searchbox").toggle("slow");
});

</script>

</div>


