<nav>
            <ul class="nav pull-right">

              <li><%= link_to "Home",    root_path %></li>
              <li><%= link_to "Search",    search_path %></li>

              <% if signed_in? %>
                  <li> <%= link_to "Profile", current_user %></li>
              		<li> <%= link_to "Log Out", log_out_path, method: "delete" %></li>
              <% else %>	 
               		<li><%= link_to "Sign up", sign_up_path  %></li>
              		<li><%= link_to "Log in", log_in_path  %></li>
              <% end %>
           
            </ul>
</nav>

<div id="loggedinas">

<% if current_user %>
  
    Logged in as <%= current_user.email %>

<% end %>
</div>
